#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  elastic-app.service
BindsTo=minthcm.service
After=minthcm.service mariadb-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
Environment="node.name=es1"
Environment="cluster.name=minthcm"
Environment="discovery.type=single-node"
Environment="xpack.security.enabled=false"
Environment="ES_JAVA_OPTS=-Xms512m -Xmx512m"
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/elastic-app.pid %t/elastic-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/elastic-app.pid \
    --cidfile %t/elastic-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/minthcm.pod-id  --replace -d --name  elastic-app \
    --volume minthcm_es:/usr/share/elasticsearch/data \
    ${ELASTIC_SEARCH_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/elastic-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP elastic-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/elastic-app.ctr-id
PIDFile=%t/elastic-app.pid
Type=forking

[Install]
WantedBy=default.target
