##
## Copyright (C) 2022 Nethesis S.r.l.
## SPDX-License-Identifier: GPL-3.0-or-later
##
#
#[Unit]
#Description=Podman  elastic-app.service
#BindsTo=minthcm.service
#After=minthcm.service mariadb-app.service
#
#[Service]
#Environment=PODMAN_SYSTEMD_UNIT=%n
#EnvironmentFile=%S/state/environment
#EnvironmentFile=-%S/state/smarthost.env
#Environment="node_name=es1"
#Environment="cluster_name=minthcm"
#Environment="discovery_type=single-node"
#Environment="xpack_security_enabled=false"
#Environment="xpack_security_enabled=false"
#Environment="ES_JAVA_OPTS=-Xms512m -Xmx512m"
#WorkingDirectory=%S/state
#Restart=always
#TimeoutStopSec=70
#ExecStartPre=/bin/mkdir -p tmp
#ExecStartPre=/bin/rm -f %t/elastic-app.pid %t/elastic-app.ctr-id
#ExecStartPre=-runagent discover-smarthost
#ExecStart=/usr/bin/podman run --conmon-pidfile %t/elastic-app.pid \
#    --cidfile %t/elastic-app.ctr-id --cgroups=no-conmon \
#    --pod-id-file %t/minthcm.pod-id  --replace -d --name  elastic-app \
#    --volume minthcm_es:/usr/share/elasticsearch/data \
#    --volume certs:/usr/share/elasticsearch/config/certs \
#    --env ELASTIC_PASSWORD=adminpassworddjad \
#    --env "discovery.type=single-node" \
#    --env "discovery.seed_hosts=localhost,127.0.0.1, ${TRAEFIK_HOST}" \
#    ${ELASTICSEARCH_IMAGE}
#ExecStop=/usr/bin/podman stop --ignore --cidfile %t/elastic-app.ctr-id -t 10
#ExecReload=/usr/bin/podman kill -s HUP elastic-app
#SyslogIdentifier=%u
#ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/elastic-app.ctr-id
#PIDFile=%t/elastic-app.pid
#Type=forking
#
#[Install]
#WantedBy=default.target

#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  elastic-app.service
BindsTo=minthcm.service
After=minthcm.service mariadb-app.service

[Service]
Environment="ES_JAVA_OPTS=-Xms512m -Xmx512m"
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/elastic-app.pid %t/elastic-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/elastic-app.pid \
    --cidfile %t/elastic-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/minthcm.pod-id  --replace -d --name  elastic-app \
    --volume minthcm_es:/usr/share/elasticsearch/data \
    --volume certs:/usr/share/elasticsearch/config/certs \
    --env node_name=es1 \
    --env cluster_name=minthcm_elastic \
    --env discovery_type=single-node \
    --env xpack_security_enabled=false \
    --env ELASTIC_PASSWORD=adminpassworddjad \
    --env "discovery.type"=single-node \
    --env "discovery.seed_hosts"=localhost,127.0.0.1 \
    ${ELASTICSEARCH_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/elastic-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP elastic-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/elastic-app.ctr-id
PIDFile=%t/elastic-app.pid
Type=forking

[Install]
WantedBy=default.target