#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a minthcm instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#

[Unit]
Description=Podman minthcm.service
Requires=mariadb-app.service elastic-app.service minthcm-app.service
Before=mariadb-app.service elastic-app.service minthcm-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/minthcm.pid %t/minthcm.pod-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/minthcm.pid \
    --pod-id-file %t/minthcm.pod-id \
    --name minthcm \
    --publish 127.0.0.1:${TCP_PORT}:80 \
    --publish 9200:9200 \
    --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/minthcm.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/minthcm.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/minthcm.pod-id
PIDFile=%t/minthcm.pid
Type=forking

[Install]
WantedBy=default.target
